@page "/"
@using Blackjack.Structs;
<div>

<h1> <strong>Black Jack</strong> </h1>
</div>


@* Cards *@
<div>
@foreach( string card in unicodeCards)
{


        <span class="cards">
            @card
        </span>

    

}
</div>

@* Github link to solutions *@
<div>
    <a href="https://github.com/csharpschool/CSharpCrossPlatform/tree/main/Exercises"> Länk till Jonas Github lösningar</a>
</div>

@code{

    const int numberOfCards = 52;
    string _symbol = string.Empty;
    bool stay=false;

    int playerScore = 0;
    int dealerScore = 0;


    string winner = string.Empty;


    string[] unicodeCards =
    { "🂡", "🂢", "🂣", "🂤", "🂥", "🂦", "🂧","🂨","🂩","🂪","🂫","🂬","🂭","🂮" };



    Card[] deck = new Card[numberOfCards];
    Card[] playerCards = new Card[0];
    Card[] dealerCards = new Card[0];

    enum PlayerTypes
    {
        Player,
        Dealer
    }

    enum Results
    {
        Unknown, 
        Blackjack,
        PlayerLost, 
        DealerLost
    }

    Results results = Results.Unknown;
   
    
    
}
